<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burger Builder</title>
    <link rel="stylesheet" href="assets/css/foundation.css">
    <link rel="stylesheet" href="assets/css/app.css">
  </head>
  <body>
    <div id="vue-app">
      <div class="row">
        <div class="large-12 columns">
          <h1>Custom Burger Builder</h1>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <div class="callout">
            <form>
              <div class="row">
                <div class="large-9 columns">
                  <label>Name</label>
                  <input id="name" type="text" placeholder="Epic Burger Name" data-required="true" />
                </div>
                <div class="large-3 medium-3 columns">
                  <div class="row collapse">
                    <label>Burger Price</label>
                    <div class="input-group">
                      <span class="input-group-label">$</span>
                      <input v-bind:value="totalPrice" id="price" type="text" placeholder="Burger Price" class="input-group-field" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="large-4 columns">
                  <label>Select Cheese</label>
                  <select v-model="cheesePrice">
                    <option value="0">No Cheese</option>
                    <option v-for="topping in toppingByType(toppings, 'cheese')" v-bind:value="topping.price">
                      {{topping.name}}
                    </option>
                  </select>
                </div>
                <div class="large-8 medium-8 columns">
                  <label>Sauces</label>
                  <template v-for="topping in toppingByType(toppings, 'sauce')">
                    <topping-checkbox :topping="topping"></topping-checkbox>
                  </template>
                </div>
              </div>
              <div class="row">
                <div class="large-12 columns">
                  <p><a href="#" class="button" @click="showModal = true">Add Veggies</a></p>
                  <p class="veggie-list" ></p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <modal v-if="showModal" :toppings="toppings" @close="showModal = false">
        <template v-for="topping in toppingByType(toppings, 'veggie')">
          <topping-checkbox :topping="topping"></topping-checkbox>
        </template>
      </modal>
    </div>

    <script type='text/x-template', id='topping-checkbox-template'>
      <span>
        <input v-on:click="calcToppingPrice" :id="inputName(topping.name)" v-bind:value="topping.price" type="checkbox">
        <label :for="inputName(topping.name)">{{topping.name}}</label>
      </span>
    </script>

    <script type='text/x-template', id='modal-template'>
      <transition name='modal'>
        <div class="modal-wrapper" >
          <div class="modal-container" >
            <div class="modal" >
              <a class="close-modal" @click="$emit('close')" >&#215;</a>
              <div id="modal-content" >
                <div class="veggie-options" >
                  <label>Veggies</label>
                    <slot></slot>
                </div>
              </div>
            </div>
          </div>
        </transition>
      </div>
    </script>
    <script src="assets/js/vendor/vue.js"></script>
    <script src="assets/js/app-vue.js"></script>
  </body>
</html>
